.principalContainer {
    border: 1px solid #000;
    border-radius: 10px;
}

.colorBlock {
    border: 1px solid #000;
    height: 100px;
    width: 100px;
}

.infoContainer {
    background-color: rgb(120, 224, 250);
}